<h1>Add a new Reading</h1>


<%= form_for (@reading) do |r| %>


  <div>
    <%= r.label :date %><br />
    <%= r.time_select :date %>
  </div>
  <div>



  </div>

<h3>Enter your Blood Pressure Here:</h3>

    <div>
    <%= r.label :systolic %><br />
    <%= r.number_field :systolic %>
  </div>

    <div>
    <%= r.label :diastolic %><br />
    <%= r.number_field :diastolic %>
  </div>


  <div>
    <%= r.submit "Create Reading" %>
  </div>
<% end %>
